h1 {
    color: #5F9EA0;
    margin: 2px;
    padding: 1px;
    text-shadow: 2px 1px 10px white;
}

select {
    background-color: #E0E0E0;
    border: 1px solid grey;
    border-radius: 10px;
    color: grey;
}

input[type=text] {
    border-radius: 10px;
}

tr {
    height: 28px;
}

p {
    color: #808080;
    margin: 2px;
    padding: 0;
}

ul.errorlist {
    margin: 0;
    padding: 0;
}

.errorlist li {
    color: red;
    display: block;
    font-size: 12px;
    margin: 0 0 3px;
    padding: 4px 5px;
}

.errorlist {
    color: red;
    display: block;
    font-size: 12px;
    margin: 0 0 3px;
    padding: 2px 4px 0px 6px;
    width: 100%;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
    margin: 0px;
}

header {
    background-color: #B4D8E7;
    padding: 4px;
}

maindesign #reportfor select {
    border-radius: 25px;
    height: 25px;
}

nav, action, footer {
    display: block;
    margin: 5px;
    padding: 8px;
}

content {
    clear: both;
    display: flex;
}

nav {
    float: left;
    height: 640px;
    overflow: auto;
    width: 25%;
}

action {
    clear: both;
    float: left;
    width: 75%;
}

nav ul {
    margin: 0;
    padding: 0;
}

    nav ul li {
        display: block;
        margin-left: 20px;
    }

        nav ul li p {
            background-color: #808080;
            border: 1px solid grey;
            border-radius: 10px;
            color: white;
            cursor: pointer;
            padding: 2px 2px 2px 16px;
        }

        nav ul li ul li p {
            background-color: #F0F0F0;
            border: 1px solid #E0E0E0;
            border-radius: 12px;
            color: grey;
            padding: 2px 2px 2px 16px;
        }

dbtable {
    border: 1px solid grey;
}

table tr td {
    border-bottom: 1px solid;
    border-color: #dcdcdc;
}

maindesign {
    clear: both;
}

    maindesign sidebar {
        float: left;
    }

    maindesign #subdesign, #report_div {
        border: 1px solid grey;
        border-radius: 12px;
    }

    maindesign #reportfor, maindesign #subdesign {
        clear: both;
        display: flex;
        padding: 0px 0px 4px 0px;
    }

.clear_all {
    align-self: center;
    position: relative;
}

.run {
    width: 180px;
    height: 30px;
    border-radius: 30px;
    margin-right: 5px;
    color: #008b8b;
    background-color: #B0C4DE;
}

.pagination {
    margin: 4px 0px 4px 0px;
    text-align: center;
}

.pg-current {
    color: grey;
}

.pg-btn {
    width: 80px;
    height: 20px;
    border-radius: 20px;
    margin-right: 5px;
    background-color: lightblue;
    color: darkcyan;
}

.sheet {
    float: left;
    width: 100%;
    overflow: auto;
}

.actions {
    margin: 4px 0px 4px 0px;
    display: flex;
}

.header_txt {
    margin-left: 30px;
}

.fieldname {
    color: #6699FF;
}

.tablename {
    color: #99CCFF;
}

.separater {
    height: 10px;
}

.customDesign {
    width:265px;
    background-color: honeydew; 
    border-radius: 12px;
    display: inline-block;
}

.customClm {
    width: 248px;
}

.normalDesign {
    width: 265px;
    background-color: antiquewhite;
    border-radius: 12px;
}

.toggleSubdesign {
    width: 99%;
    text-align: end;
    padding: 5px;
}

.reportFor {
    width: 50%;
}