<maindesign>
    <div id="reportfor" name="reportfor">
        <div class="reportFor">
        {{ form.report_for }}  
        </div>
        <div id="reportfor_err" name="reportfor_err" style="display: inline-block"
            class="errorlist">
            {{ qbeerrors }}
        </div> 
        <div class="toggleSubdesign">
            <a id="toggleDesign" href="javascript:void(0)">hide</a>     
        </div>
    </div>

    <div id="subdesign">
        <div class="sheet" id="sheet">
            <div id="customDesignField" class="customDesign">
                <table width="100%">
                    <tr>
                        <td>
                            <p class="fieldname">{{ form.column_name }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="tablename">{{ form.table_name }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>{{ form.exclude }} Exclude</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>{{ form.sort }} Sort</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>{{ form.total }} Total</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                {{ form.operator }}
                                {{ form.criteria }}
                                {{ form.errors }} 
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 0px">
                            <p>
                                {{ form.oroperator }}
                                {{ form.orcriteria }}
                                {{ form.errors }} 
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
    
            {{ design_fields.management_form }}
            {% for design_field_form in design_fields.forms %}  
                     
                <div id="div-{{ design_field_form.table_name }}.{{ design_field_form.column_name }}" 
                    class="normalDesign" style="display: {{design_field_form.style_display }}">
                
                    <input type="hidden" 
                        id="cnt-{{ design_field_form.table_name }}.{{ design_field_form.column_name }}" 
                        value="{{ forloop.counter0 }}">
                
                    {{ design_field_form.field }}              
                
                    <table width="100%">
                        <tr>
                            <td>
                                <p class="fieldname">{{ design_field_form.column_name }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="tablename">{{ design_field_form.table_name }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>{{ design_field_form.exclude }} Exclude</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>{{ design_field_form.sort }} Sort</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>{{ design_field_form.total }} Total</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    {{ design_field_form.operator }}
                                    {{ design_field_form.criteria }}
                                    {{ design_field_form.errors }} 
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-bottom: 0px">
                                <p>
                                    {{ design_field_form.oroperator }}
                                    {{ design_field_form.orcriteria }}
                                    {{ design_field_form.errors }} 
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            {% endfor %}    
        </div>  
    </div>  
        
<maindesign>
