{% extends "base.html" %}
{% load i18n %}
{% block title %}QBE App{% endblock title %}

{% block nav %}
    {% include "qbeapp/nav.html" %}
{% endblock nav %}

{% block design %}
    {% include "qbeapp/design.html" %}
    <div id="actions" class="actions">
        <div>
            <input id="runbtn" type="button" value="Run" class="run">
        </div>
        <div>
            <input id="showChartBtn" type="button" value="Report Chart" class="run">
        </div>
        <div>
            <input id="showGraphBtn" type="button" value="Show Database Graph" class="run">
        </div>
        <div>
            <input id="exportBtn" type="button" value="Export" class="run">
        </div>
        <div id="clear_all" class="clear_all">        
            <a href="">Clear all</a>
        </div>
    </div>
{% endblock design %}

{% block report %}
    <div id="main-report">
        <div id="reporttbl">
            {% if report %}
                {% include "qbeapp/pagination.html" %} 
            {% endif %}

            {% include "qbeapp/report.html" %}              

            {% if report %} 
                {% include "qbeapp/pagination.html" %} 
            {% endif %}
        </div>
    </div> 
{% endblock report %}
