<ul>
    {% for key, value in tables.items %}
        <li>
            <p onclick="toggle('{{ key }}')">{{ key }} </p>
            <ul style="display: none" id={{ key }} name={{ key }}>
                {% for clm in value %}
                    <li>
                        {% spaceless %}                            
                            <p>
                                <input type="checkbox" 
                                    onclick="addElement(this, '{{ key }}', '{{ clm.name }}')">  
                                {% load qbe_extras %}                          
                                {{ clm.name }} <label style="color: #c1b8b8">({{ clm.type|class_name|lower|capfirst }})</label>
                            </p>           
                        {% endspaceless %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
