<div id="reporttbl">
    {% if report %}
    <div id="report_div">
        <table width="100%" class="report_grid">
            {% spaceless %}
            {% for row in report %}
                {% if forloop.last %} 
                <tr>
                    {% for item in row %}
                    <td style="border-bottom: 0">
                        {{ item }}    
                    </td> 
                    {% endfor%}      
                </tr>
                {% else %}    
                <tr>
                    {% for item in row %}
                    <td>
                        {{ item }}    
                    </td>
                    {% endfor%}
                </tr>
                {% endif %}
            {% endfor%}
            {% endspaceless %}
        </table>
    </div>
    {% endif %}
</div>