<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}</title>        
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'qbeapp/css/style.css' %}"/>
        <script src="{% static 'qbeapp/js/qbeapp.js' %}"></script>
        <script src="{% static 'qbeapp/js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'qbeapp/js/ajaxed.js' %}"></script>
    </head>

    <body>
        <header>
            <div class="header_txt">
                <h1>Welcome to QBE</h1>
            </div>            
        </header>
        
        <form id="qbeform" action="/report/" method="post">
            {% csrf_token %} 
            <content> 
                <nav> 
                    {% block nav %}{% endblock nav %}
                </nav>   
                <action>
                    <design> 
                        {% block design %}{% endblock design %}
                    </design> 
                    <div class="separater"></div>
                    <div id="report"> 
                        {% block report %}{% endblock report %}
                    </div> 
                </action>            
            </content>
        </form>    
        
        <footer> 
            <p>Made with Django by Mahesh</p>
        </footer>     
        {% block extra_javascript %}{% endblock extra_javascript %}
    </body>
</html>